.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #ffee00;
    font-size: 20px;
    height: 20px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;

  }
  
  .rating-upper {
    color: #ffee00;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    direction: ltr;
  }
  
  .rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
  }
  