
.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
}
.empty{
    text-align: center;
    padding-top: 4rem;
    font-size: 1.2rem;
}
.showModal{
    display: block;
}
.hideModal{
    display: none;
}

.modalDiv{
    position:fixed;
    background: white;
    width: 26rem;
    max-height: 28.5rem;
    min-height: 10rem;
    top:50%;
    left:50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    
}
.modalDiv::-webkit-scrollbar {
    width: 0px;
}
  
.sum{
    flex:100%;
    max-width: 100%;
    text-align: center;
    padding: 1rem;
    color: #f8eee7;
    margin-top: 2px;
    background-color: #49274a;
    border-radius: 0 0 20px 20px;


}
.sumTitle{
    /* font-size: 0.8rem; */
    display: inline;
}
.sumAmount{
    margin-bottom: 0;
    display: inline;
}
.modalContainer{
    overflow-y:scroll ;
    max-height: 20rem;
}
.modalContainer::-webkit-scrollbar {
    width: 0px;
}

ul {
    list-style-type: none;
    margin: 0 0.2rem;
    padding: 0;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    flex:100%;
    max-width: 100%;
    max-height: 70%;
}


li{
    border-bottom: 1px solid rgba(197, 197, 197, 0.288);
    padding: 1rem 0;
    font-size: 0.8rem;
    
}

.pContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    align-items: center;
}
.pContainer .right{
    text-align: center;
    flex:20%;
    max-width: 20%;
    box-sizing: border-box;
    padding: 0.5rem;
    
}
.pContainer img{
    width: 100%;
}

.name{
    font-size: 0.8rem;
    margin-top: 0;
    display: -webkit-box;
    max-width: 22ch;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.trash{
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(114, 114, 114);
    /* margin-top: 1rem; */
}
.count{
    border: 2px solid rgb(100, 100, 100);
    text-align: center;
    border-radius: 5px;
    width: 6rem;
    
}   
.count p{
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.deactive{
    color: rgb(201, 201, 201);
}
.pContainer .left{
    flex:70%;
    max-width: 70%;

}
.details{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.options{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.innerDiv > h2{
    text-align: center;
    margin-top: 0.8rem;
}
.price{
    margin-top: 0;
    color: rgb(88, 88, 88);
}

/* @media only screen and (min-width: 800px){

    .empty{
        min-height: 70vh;
        font-size: 2.5rem;
    }
    
    .mainDiv{
        padding-top: 8rem;
        min-height: 70vh;
        margin: 0 8rem;
        
        
    }
    .container{
        justify-content: space-around;
        margin: 2rem 0;
        
    }
    .sum{
        flex:100%;
        max-width: 100%;
        max-height: 8rem;
        font-size: 1.3rem;
    }
    ul {
        list-style-type: none;
        margin: 0.2rem;
        padding: 0;
        text-align: center;
        flex:100%;
        max-width: 100%;
    }
    .right{
        flex:10%;
        max-width: 10%;
        
    }
    img{
        width: 100%;
    }
    .middleRight{
        flex:35%;
        max-width: 35%;
        padding-right: 2rem;
    }
    .middleLeft{
        padding-right: 4rem;
        flex:30%;
        max-width: 30%;
        margin: 0;
        
    }
    .left{
        flex:10%;
        max-width: 10%;
        padding-right: 4rem;

    }

} */

/* @media only screen and (min-width: 1090px){
    .mainDiv{
        
    }
    .container{
        
    }
    .sum{
        flex:15%;
        max-width: 15%;
    }
    ul {
        flex:70%;
        max-width: 70%;
    }

} */

/* @media only screen and (max-width: 1300px){
    .modalDiv{
        width: 60%;
    }
} */