.mainContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.filter{
    flex-basis: 20%;
}
.pList{
    flex-basis: 70%;
    /* margin: 5rem 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.loading{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

