.mainContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}
.filter{
    flex-basis: 25%;
    
}
.filtersDiv{
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    height: 18rem;
    margin-top: 1rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.082);
    padding: 2rem 2rem;
}
.fTitle{
    margin: 0.5rem 0.5rem 0.5rem 0;
}
.pTitle{
    flex-basis: 100%;
    margin: 0.5rem 1rem 0.5rem 0;
}
.searchDiv{
    background-color: white;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.082);
}
.searchForm > input{
    vertical-align: middle;
    /* margin: 5px 10px 5px 0; */
    padding: 8.5px;
    background-color: #fff;
    border: 2px solid #94618e;
    border-radius: 0 10px 10px 0;
    outline: none;
    font-family: 'samim';
    font-size: 0.8rem;
    width: 12rem;
}
.searchForm > button{
    display: inline-block;
    background-color: #94618e;
    color: #ffffff;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 12px;
    cursor: pointer;
}
.searchForm> button:hover{
    background-color: #b37cac;
  }
.searchDiv> form{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.pList{
    flex-basis: 70%;
    /* margin: 5rem 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.loading{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
.notFound{
    font-size: 1.7rem;
    margin-top: 7rem;
}
@media only screen and (max-width:  1024px) {
    .pList {
      flex-basis: 100%;
    }
    .filter{
        flex-basis: 100%;
    }
  }