.mainContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}
.filter{
    flex-basis: 25%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    height: 18rem;
    margin-top: 0.5rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.082);
    padding: 2rem 2rem;
}
.pList{
    flex-basis: 70%;
    /* margin: 5rem 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.loading{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
.notFound{
    font-size: 1.7rem;
    margin-top: 7rem;
}

