.head{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 5.5rem;
    transition: 0.5s ease-out;
}

.head h1{
    color: #49274a;
    margin: 1rem;
    /* position: absolute; */
    left: 1.65rem;
    transition: 0.5s ease-out;
}

.logo{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;

}
.container{
    display: flex;
    /* place-content: space-between; */
    justify-content: center;
}
.fs{
    position: absolute;
    top: 1.65rem;
    left: 1.65rem;
    font-size: 1.8rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.678);
    transition: 0.5s ease-out;
}
#cartCounter{
    background-color: rgb(253, 47, 47);
    color: white;
    position: absolute;
    display: inline-block;
    top: 0.2rem;
    left: 2.8rem;
    width: 1.3rem;
    height: 1.2rem;
    padding-top: 0.02rem;
    border-radius: 50%;
    text-align: center;
    font-family: 'Lalezar';
    transition: 0.5s ease-out;
}

.littleHead{
    height: 4rem;
}

.littleHead h1{
    font-size: 1.8rem;
    margin-top: 0.6rem;
}

.littleHead .fs{
    top:1rem;
}
.littleHead #cartCounter{
    margin-top: 0.35rem;
}