.productContainer{
  height: 100%;
}
.wrapper{
  background-color: white;
  display: flex;
  width: 65%;
  border-radius: 20px;
  margin: 3rem auto;
}
.productPic{
  flex-basis: 40%;
  text-align: center;
  margin: 5rem 0;
}
.productPic img{
  width: 60%;
}

.detailsSide{
  flex-basis: 60%;
  margin-top: 3rem;
  /* background-color: #e98074; */
  /* color: white; */
  border-radius: 20px 0 0 20px;
}
.addToCartBtn{
  display: block;
  font-family: 'samim';
  background-color: #e85a4f;
  border: none;
  color: white;
  width: 70%;
  font-size: 1.2rem;
  border-radius: 10px;
  height: 3rem;
  margin: 0 auto;
}