@font-face {
  font-family: samim;
  src: url('./assets/Samim.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  direction: rtl;
  font-family: 'samim';
}

